@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background: #3f51b5 !important;
    }
}
.hm-gradient .full-bg-img {
    background: -webkit-linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
    background: -webkit-gradient(linear, 45deg, from(rgba(29, 236, 197, 0.4)), to(rgba(96, 0, 136, 0.4)));
    background: linear-gradient(to 45deg, rgba(29, 236, 197, 0.4), rgba(96, 0, 136, 0.4) 100%);
}

.half-rule {
    margin-left: 0;
    text-align: left;
    width: 100%;
    height: 1px;
    color:black;

}

.table-bordered, .table-bordered th, .table-bordered td {
    border: 1px solid deepskyblue !important;
}
.card {
    background-color: #FDDDE6;
}
.panel-body{
    background-color: white;
}
.md-form .prefix {
    font-size: 1.5rem;
    margin-top: 1rem;
}
.md-form label {
    color: #ffffff;
}
h6 {
    line-height: 1.7;
}

@media (max-width: 740px) {
    .full-height,
    .full-height body,
    .full-height header,
    .full-height header .view {
        height: 1040px;
    }
}

.form-control {
    display: inline-block;
}

.hideMe {
    display: none;
}

.panel > .panel-heading.top-level {
    background: lightsalmon;
    color:white;
}
/*
Using default Bootstrap 3 classes we zero out the top and
bottom padding .panel-heading ususally needs
*/
.panel-heading.nav.navbar-default{padding-top:0px;padding-bottom:0px;}

/*
Reintroduce 20px for .panel-title when a navbar is within .panel-heading.
This can be put back to @line-height-computed; in your LESS file which
is the default in type.less */
.panel-heading.nav.navbar-default h3.panel-title{margin-top:20px;}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.container-full.voffset{
    margin-top: 20px;
}

.no-border {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

/*for collapsible accordions*/
body {
    margin: 0;
    font-family: 'Roboto';
    font-size: 16px;
}

h3 {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
    margin-bottom: 30px;
    font-weight: 300;
}

div[class*='col-'] {
    padding: 0 30px;
}

.wrap {
    /*box-shadow: 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
    border-radius: 4px;
}

a:focus,
a:hover,
a:active {
    outline: 0;
    text-decoration: none;
}

.panel {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #fff;
    background: none;
    box-shadow: none;
}

.panel:last-child {
    border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
    border-radius: 4px 4px 0 0;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-group .panel + .panel {
    margin-top: 0;
}

.panel-heading.collapsible.green {
    background-color: lightcoral;
    border-radius: 0;
    border: none;
    color: #fff;
    padding: 0;
}

.panel-title a {
    display: block;
    color: #fff;
    padding: 15px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
}

.panel:last-child .panel-body {
    border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
    border-radius: 0 0 4px 4px;
    transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
    border-radius: 0;
    transition: border-radius linear 0s;
}
/* #physician-collapse icon scale option */

.panel-heading.collapsible a:before {
    content: '\e146';
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    font-size: 24px;
    transition: all 0.5s;
    transform: scale(1);
}

.panel-heading.collapsible.active a:before {
    content: ' ';
    transition: all 0.5s;
    transform: scale(0);
}

#physician-collapse .panel-heading a:after {
    content: ' ';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: scale(0);
    transition: all 0.5s;
}

#physician-collapse .panel-heading.active a:after {
    content: '\e909';
    transform: scale(1);
    transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
    content: '\e316';
    font-size: 24px;
    position: absolute;
    font-family: 'Material Icons';
    right: 5px;
    top: 10px;
    transform: rotate(180deg);
    transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
    transform: rotate(0deg);
    transition: all 0.5s;
}

.form-control[readonly]{
    background-color:#ffffff;
    border: 0;
}
