<!-- Bootstrap core JavaScript -->
<script src="bootstrap/vendor/jquery/jque ry.min.js"></script>
<script src="bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 

<!-- Plugin JavaScript  -->
<script src="bootstrap/vendor/jquery-easing/jquery.easing.min.js"></script> 

<!-- Custom scripts for this template -->
<script src="bootstrap/js/template.min.js"></script>

<footer><div class="my-auto">
    <p><small>Copyrights &copy; {{site.time | date: '%Y'}} {{site.title}} - Tetherless World Constellation</small></p></div>
</footer>
