<header>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{'' | absolute_url}}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{'about' | absolute_url}}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{'documentation' | absolute_url}}">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{'resources' | absolute_url}}">Resources</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{'tutorial' | absolute_url}}">Tutorial</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{'demo' | absolute_url}}">Demo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{'contact' | absolute_url}}">Contact</a>
            </li>
        </ul>
    </nav>
    <div class="my-auto">
        <br/>
        <center><a class="title-a" href="#"><h1 class="title">{{page.title}}</h1></a></center>
    </div>
</header>
