<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <link rel="stylesheet" href="/sdd/assets/css/style.css?v=1e61a0a894525b91cceb5e4519ea1489fe142c2d" media="screen" type="text/css">
  <link rel="stylesheet" href="/sdd/assets/css/print.css" media="print" type="text/css">

  <!-- Bootstrap core CSS -->
  <link href="bootstrap/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
          rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
          rel="stylesheet">
  <link href="bootstrap/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="bootstrap/vendor/devicons/css/devicons.min.css" rel="stylesheet">
  <link href="bootstrap/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="bootstrap/css/style.min.css" rel="stylesheet"> 
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="bootstrap/img/favicon.ico"/>
</head>
