{% extends "layout.html" %}
{% block body %}

<div class="container">
 	<div class="row">

		 <div class="col-md-12 col-sm-offset-1">
		  	<div class="row">
		  		<div class="panel-heading col-md-12" style="background-color: #ffdab3">
                <h4 class="panel-titlel col-sm-offset-3">
                	<p>Choose a Research Study</p>
                    <div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Dropdown
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a href="#" data-value="action">10-Year Follow-up of Intensive Glucose Control in Type 2 Diabetes</a></li>
					    <li><a href="#" data-value="another action">Another action</a></li>
					    <li><a href="#" data-value="something else here">Something else here</a></li>
					    <li><a href="#" data-value="separated link">Separated link</a></li>
					  </ul>
					</div>
                </h4>
            </div>
		  	</div>
		  	<br>

		  	<div class="row">
		  		<div class="col-md-12 panel-warning">
		  			<img src="{{url_for('static', filename='images/cohortsimplot.png')}}">
		  		</div>
		  	</div>
		</div>
	</div>
</div>



{% endblock %}